.flex-container{
    display: flex;
}
.js-center{
    justify-content: center;
}
.al-center{
    align-items: center;
}
.js-start{
    justify-content: flex-start;
}
.al-start{
    align-items: flex-start;
}

.full-page{
    width:100%;
    height:100vh;
}