.side-nav{
    display: block;
    min-width: 120px;
    height: 100vh;
    padding: 7px;
    background-color: cornsilk;
    color: #333333;
}

.top-heading{
    display: block;
    width: 100%;
    background-color: crimson;
    color:white;
    padding: 7px 8px;
}

